﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<h1 class="text-center text-danger mb-4 ">Student List</h1>
<br />

<table class="table">
    <thead>
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Age</th>
            <th scope="col">City</th>
            <th scope="col">State</th>
            <th scope="col">Address</th>
        </tr>
    </thead>
<tbody>

</tbody>
</table>